<div class="container container-vertical-margin">
    <mat-card class="login-form" (keyup.enter)="login()">
        <mat-card-title>Вход</mat-card-title>
        <mat-form-field>
            <input [(ngModel)]="email" matInput placeholder="Enter your email">
        </mat-form-field>
        <mat-form-field>
            <input [(ngModel)]="password" matInput placeholder="Enter your password" [type]="hidePassword ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <button (click)="login()" mat-raised-button color="primary">Войти</button>
        <a [routerLink]="['/sign-up']" mat-raised-button color="warn">Создать аккаунт</a>
    </mat-card>
</div>